<div class="container-fluid">
    <div class="row">
        <h1 class="">Course List</h1>
    </div>
        <div class="row">
        <div class="input-group mb-3 col-md-4">
            <input class="form-control" id="" type="search" placeholder="Search Course"
            [formControl]="searchcourse" ngMin ="3">
        </div>
    </div>
    <ul class='nav nav-pills'>
        <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/courseadd']">ADD COURSE</a></li>
    </ul>      
    <div class="row">
        <div class="col-lg-5" style="margin-left: 5em;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Fees</th>
                    <th scope="col">Description</th>
                    <th scope="col">Subjects</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courselist | paginate: { itemsPerPage: 2, currentPage: p }">
                        <!-- <td>{{i+1}}</td> -->
                        <td>{{course.name }}</td>
                        <td>{{course.duration }}</td>
                        <td>{{course.fees}}</td>
                        <td>{{course.description}}</td>
                        <td>
                            <button class="btn-sm btn btn-outline-primary " type="submit" (click)="changee(course.courseDetailId)">
                                {{course.subjects.length }}
                            </button> 
                        </td>
                        <td class="btn-group">
                            <button [routerLink]="['/courselist',course.courseDetailId]"routerLinkActive="router-link-active" class="btn btn-outline-success" type="submit" >
                                view details
                            </button>
                            <button [routerLink]="['/courseedit',course.courseDetailId]"routerLinkActive="router-link-active" class="btn btn-outline-primary" type="submit" >
                                Edit
                            </button> 
                            <button  class="btn btn-outline-danger" type="submit" (click)="deleteCourse(course.courseDetailId)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
          </table> 
          <div>
            <ul class="pagination">  
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>  
            </ul> 
          </div>
        </div>
    </div>
</div>  