<div class="container-fluid">
    <div class="row">
        <h1 class="">Course List</h1>
    </div>
    <div class="row">
        <div class="col-lg-5" style="margin-left: 5em;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Fees</th>
                    <th scope="col">Description</th>
                    <th scope="col">Subjects</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courselist; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{course.name }}</td>
                        <td>{{course.duration }}</td>
                        <td>{{course.fees}}</td>
                        <td>{{course.description}}</td>
                        <td>{{course.subjects.length}}</td>
                        <td class="btn-group"> 
                            <button [routerLink]="['/course/list',course.courseDetailId]"routerLinkActive="router-link-active" class="btn btn-outline-primary" type="submit" >
                                view details
                            </button>    
                            
                            <button [routerLink]="['/course/edit',course.courseDetailId]"routerLinkActive="router-link-active" class="btn btn-outline-primary" type="submit" >
                                Edit
                            </button>    

                        </td>
                    </tr>
                </tbody>
          </table>          
        </div>
    </div>
</div>