<div class="card">
    <div class="card-header">
       {{pageTitle}}
    </div>
</div>
<div class="card-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="courseForm">


        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" for="courseNameId">Course Name</label>
            <div class="col-md-8">
                <input class="form-control" id="courseNameId" type="text" placeholder="Course Name (required)"
                    formControlName="name" [ngClass]="{'is-invalid': (courseForm.get('name').touched ||
                                              courseForm.get('name').dirty) &&
                                              !courseForm.get('name').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="courseForm.get('name').errors?.required">
                        Please enter course name.
                    </span>
                    <span *ngIf="courseForm.get('name').errors?.minLength">
                        Course name should be longer than 5 characters.
                    </span>
                </span>
            </div>
        </div>


        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" for="courseDurationId">Duration</label>
            <div class="col-md-8">
                <input class="form-control" id="durationId" type="string"
                    placeholder="Course Duration in years (required)" 
                    formControlName="duration" [ngClass]="{'is-invalid': (courseForm.get('duration').touched ||
                                            courseForm.get('duration').dirty) &&
                                            !courseForm.get('duration').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="courseForm.get('duration').errors?.required">
                        Please enter course duration.
                    </span>

                </span>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" for="feesId">Fees</label>


            <div class="col-md-8">
                <input class="form-control" id="courseFeesId" type="text" placeholder="Course Fees (required)"
                    formControlName="fees" [ngClass]="{'is-invalid': (courseForm.get('fees').touched ||
                                            courseForm.get('fees').dirty) &&
                                            !courseForm.get('fees').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="courseForm.get('fees').errors?.required">
                        Please enter course fees.
                    </span>
                </span>
            </div>
        </div>


        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label" for="descriptionId">Description</label>
            <div class="col-md-8">
                <input class="form-control" id="courseDescriptionId" type="text" placeholder="Course Description "
                    formControlName="description" />
            </div>
        </div>
        <div class="form-group row mb-1">
            <div class="form-inline" formArrayName="subjects" *ngFor="let subject of subjects.controls; let i=index">
                <div [formGroupName]="i">
                    <input type="hidden" formControlName="SubjectId">
                    <div class="form-group">
                        <label class="col-lg-2 col-form-label" for="subjectNameId">Subject name</label>
                        <div class="col-md-8">
                            <input class="form-control" id="subjectNameId" type="text" placeholder="Subject Name "
                                formControlName="Sname"
                                [ngClass]="{'is-invalid': (subjects.controls[i].get('Sname').touched ||
                                                                           subjects.controls[i].get('Sname').dirty) &&
                                                                           !subjects.controls[i].get('Sname').valid }" />
                            <span class="invalid-feedback">
                                <span *ngIf="subjects.controls[i].get('Sname').required">
                                    Subject name is required.
                                </span>
                                <span *ngIf="subjects.controls[i].get('Sname').minLength">
                                    Enter valid Subject.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class=" form-inline form-group">
                        <label class="col-lg-2 col-form-label" for="subjectCreditId">Subject credit</label>
                        <div class="col-md-8">
                            <input class="form-control" id="subjectCreditId" type="text" placeholder="Subject credit"
                                formControlName="SCredit"
                                [ngClass]="{'is-invalid': (subjects.controls[i].get('SCredit').touched ||
                                                                         subjects.controls[i].get('SCredit').dirty) &&
                                                                         !subjects.controls[i].get('SCredit').valid }" />
                            <span class="invalid-feedback">
                                <span *ngIf="subjects.controls[i].get('SCredit').required">
                                    Subject credit is required.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class=" form-inline form-group">
                        <label class="col-lg-2 col-form-label" for="subjectDescription">Description</label>
                        <div class="col-md-8">
                            <input class="form-control" id="subjectDescription" type="string" placeholder="Description"
                                formControlName="Description"
                                [ngClass]="{'is-invalid': (subjects.controls[i].get('Description').touched ||
                                                                         subjects.controls[i].get('Description').dirty) &&
                                                                         !subjects.controls[i].get('Description').valid }" />
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="offset-md-2 col-md-4">
                <button class="btn btn-outline-primary" type="submit" [disabled]="!subjects.valid" (click)="addSubjects()">
                    Add Subject
                  </button>
            </div>
        </div>
        <div class="form-group row mb-1">
            <div class="col-md-2">
                <button class="btn btn-primary mr-3" type="submit" style="width:80px"
                    [title]="courseForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!courseForm.valid">Save
                </button>
            </div>
        </div>
    </form>
  