<div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Course : {{courseDetail.name}}</h5>
        <h6 class="card-text">Name : {{courseDetail.name}}</h6>
        <h6 class="card-text">Duration : {{courseDetail.duration}}</h6>
        <h6 class="card-text">Fees : {{courseDetail.fees}}</h6>
        
        <p class="card-text">{{courseDetail.description}}</p>
        <div class="card-group">
        <div class ="card-body" *ngFor="let sub of courseDetail.subjects;let i = index">
            <h5 class="card-title">   Subject {{i+1}} </h5>
            <h6 class="card-text">   Name : {{sub.sname}} </h6>
            <h6 class="card-text">  Credit : {{sub.sCredit}} </h6>
        </div>
      </div>
    </div>  
    </div>
</div>
<div class="form-group row mb-1">
  <div class="col-md-2">
      <button class="btn btn-primary mr-3" type="submit" style="width:80px"(click)="Back()"
      >Back
      </button>
  </div>
</div>